$neutral-color1: black;
$neutral-color2: white;
$neutral-color3: #dcd7d7b5;
$hover-color: #00cba6;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $neutral-color1;
}
