@media (max-width: 700px) {
    .header {
        border: none;
        position: static;
    }
    .navbar {
        height: auto;
        display: block;
        text-align: center;
    }
    .navbar-brand {
        border-bottom: 1px solid gray;
    }
    .navbar-brand a {
        font-size: 2.5rem;
    }
    .navbar-genger {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-genger ul a {
        font-size: 1.5rem;
    }
    .cards p {
        font-size: 1rem;
    }
    .card img {
        height: 120px;
    }
    .women-shoes img {
        height: 200px;
    }
    .women-jeans img {
        height: 220px;
    }
    .men-shoes img {
        height: 220px;
    }
    .men-jeans img {
        height: 220px;
    }
    .men-t-shirts img {
        height: 220px;
    }
    .men-accesories img {
        height: 190px;
    }
    .container-suscription h5 {
        margin: 10px auto;
        font-size: 1.5rem;
    }
    .container-suscription p {
        margin: 5px auto;
        font-size: 1.2rem;
    }
    .form {
        font-size: 1.2rem;
    }
    .footer-container {
        display: inline-flex;
    }
    .footer-container h5 {
        font-size: 1.5rem;
    }
    .footer-container ul a {
        font-size: 1.2rem;
    }
}

@media (max-width: 320px) {
    .card img {
        width: 130px;
        height: 180px;
        margin: 0 auto;
    }
    .women-shoes img {
        height: 200px;
    }
    .women-jeans img {
        height: 220px;
    }
    .women-t-shirts img {
        height: 110px;
    }
    .men-shoes img {
        height: 250px;
    }
    .men-jeans img {
        height: 250px;
    }
    .men-t-shirts img {
        height: 250px;
    }
    .men-accesories img {
        height: 190px;
    }
}