@media (max-width: 700px) {
    .navbar {
        display: block;
        text-align: center;
    }
    .navbar-genger {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}